* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c8eec;
  padding: 1em;
}
nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
}
#logo {
  font-size: 1.2em;
  font-weight: 600;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}
label {
  display: none;
  cursor: pointer;
}
ul {
  list-style: none;
  display: flex;
  gap: 1em;
}
ul a {
  padding: 0.5em;
}
ul a:hover {
  background-color: #333333;
  border-radius: 0.5em;
}
.active {
  border-bottom: 2px solid #ffffff;
}
@media screen and (max-width: 600px) {
  label {
    display: block;
  }
  ul {
    font-size: 1.2em;
    position: absolute;
    left: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    gap: 2em;
    top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    transition: 0.5s;
  }
  input[type="checkbox"]:checked ~ ul {
    left: 0;
  }
  ul a:hover {
    background-color: #2c8eec;
  }
}
